<?xml version="1.0" encoding="utf-8"?>
<!-- 
	Copyright 2008 The Ganshane Network Service Team. 
	site: http://ganshane.net
	file : $Id$
	created at:2008-08-23
-->
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Integration Test App 1</display-name>
    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>corner.integration.app1</param-value>
    </context-param>
    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
