.LV_valid {
	color: #00CC00;
}

.LV_invalid {
	color: #CC0000;
}

.LV_validation_message {
	margin-left:3px;
	padding: 3px 1px 1px 3px;
	border : 1px solid #b5b5b5;
	background-color: #fffbe7;
	border: 1px solid #b5b5b5;
}

.LV_valid_field {
	border: 1px solid #00CC00;
}

.LV_invalid_field {
	border: 1px solid #CC0000;
}