body{
  width:98%;
  height:auto;
  margin:0 auto;
  color:#000;
  background:#fff;
  text-align:left;
  font-size:12px;
  line-height:24px;
}
ul, li, p {
  margin:0;
  padding:0;
}
li {
  list-style:none;
}
form {
  margin:0;
  padding:0;
}
input {
  line-height:12px;
  padding-top:2px;
}
img {
  border:0;
  vertical-align:middle;
}
.clear{
  clear:both;
}

a:link, a:visited, a:active {
  color:#123b8d;
  /*  background:inherit;*/
  text-decoration:underline;
}
a:hover {
  color:#f00;
  background:inherit;
}
/* 上方的导航 */
#header{
  width:98%;
  clear:both;
  margin:6px 20px 0 0;
}
#header li{
  float:right;
  padding-left:5px;
}
.logo {
  width:200px;
  height:60px;
  float:left;
}
.r{
  float:right;
  width:400px;
}
/* 菜单 */
#menu{
  width:98%;
  clear:both;
  height:auto;
  float:left;
}
#menu ul{
  padding-left:30px;
}
#menu li,#menu span{
  float:left;
}
#menu b{
  float:right;
}
#menu li,#menu span,#menu b{
  line-height:40px;
  padding:20px 30px;
  background-color:#3e8ccb;
  border:5px solid #FFFFFF;
  font-size:20px;
  color:#FFFFFF;
  width:100px;
  text-align:center;
}
#menu span{
  width:60px;
  background-color:#cb3eaf;
  font-size:12px;
  padding:20px 10px;
}

#menu a:link, #menu a:visited, #menu a:active {
  text-decoration:none;
  color:#FFFFFF;
}
#menu a:hover {
  text-decoration:underline;
}

/* 内容部分 */
#content{
  width:98%;
  float:left;
  height:auto;
  clear:both;
  margin-top:-5px;
  border-top:5px solid #3e8ccb;
}
.menu2nd{
  float:left;
  width:100%;
  height:auto;
  background-color:#deeaf3;
}
.menu2nd li{
  float:left;
  padding:8px 15px;
}
.list{
}
.list dt{
  background-color:#deeaf3;
}
.friends li{
  float:left;
  width:150px;
  background-color:#deeaf3;
  border:1px solid #3e8ccb;
  padding:5px 8px;
  margin:5px 5px;
}

/* 统一定义 */
input{
	border: 1px solid #A3BFA8;
}
/** ajax **/
.indicator{
	background-color:   #FFFFDD;
	overflow: hidden;
	position: absolute;
	height: 30px;
	width: 100px;
	top: 5px;
	right: 100px;
	
 }
 
/* 结尾 */
.footer {
  width:98%;
  height:auto;
  text-align:center;
  clear:left;
  margin-top:8px;
  padding-top:8px;
  border-top:5px solid #3e8ccb;
}
/* 分页使用的css */
.digg_pagination {
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
  .digg_pagination a:hover, .digg_pagination a:focus {
    color: #003;
    border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
  .digg_pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
      *:first-child+html .digg_pagination {
        overflow: hidden; }



